html
{
    display: flex;
    flex-direction: column;
    height: 100%;
     margin: 0;
     padding: 0;
     font-family: "Times New Roman", Times, serif;
}

body
{
    display: flex;
    height: 100%;
     margin: 0;
     padding: 0;
     font-family: "Times New Roman", Times, serif;
}

.menu {
    background-color: rgb(0,200,255);
    padding-left: 15px;

}

.listview {
    cursor: pointer;
}

#map
{
    width: 100%;
    cursor: pointer;
}

#detail
{
  height: 250px;
  width: 300px;
}
